body {
    max-width: 700px;
    margin: 0 auto;
}

canvas {
    margin: 0 30px; 
    border: 15px solid #0e0e0e;
}

h1 {
    margin-top: 1rem;
}

.buttons button {
    padding: 0 .25rem;
    margin: 0 .3rem .4rem .3rem;
    background-color: #fff;
    border: 2px solid darkslategray;
    border-radius: 4px;
    width: 2.25rem;
}