body {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1.2rem;
    background-color: rgb(255, 248, 246);
}

canvas {
    margin: 0 30px; 
    border: 15px solid #200b00;
    width: 100%;
}

h1, h2, h3, h4, h5 {
    margin-top: 1rem;
}

.buttons button {
    padding: 0 .25rem;
    margin: 0 .5rem .4rem 0;
    background-color: #fff;
    border: 2px solid darkslategray;
    border-radius: 4px;
    width: 2.25rem;
}

#emoji-slider {
    width: 400px;
}

#emoji-input {
    width: 100px;
    margin-left: 1rem;
}